/* FONTS */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-v8-latin-regular.woff2") format("woff2"), 
        url("../fonts/inter-v8-latin-regular.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/inter-v8-latin-500.woff2") format("woff2"), 
        url("../fonts/inter-v8-latin-500.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/inter-v8-latin-600.woff2") format("woff2"), 
        url("../fonts/inter-v8-latin-600.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-v8-latin-700.woff2") format("woff2"), 
        url("../fonts/inter-v8-latin-700.woff") format("woff");
    font-display: swap;
  }

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 4px dashed #ff7500;
    outline-offset: 2px;
}

.about__link:focus {
    outline: 4px dashed #555;
}

input:focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F1F4FF;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #555;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1192px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
} 

.sign-up {
    display: flex;
    align-items: stretch;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* About*/
.about {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 20px;
    background-image: url("../img/Rectangle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 12px;
}

.about__top {
    flex-grow: 1;
    padding: 60px;
    padding-bottom: 0;
}

.about__definition {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 15px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-bottom: 60px;
}
.about__box {
    width: 100%;
    max-width: 389px;
    color: #fff;
    padding-bottom: 203px;
}
.about__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 25px;
}
.about__text {
    width: 100%;
    max-width: 347px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0;
}

.about__link {
    display: block;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background-color: #4DC490;
    padding: 28px ;
    border-radius: 0 0 20px 20px;
    transition: background-color 0.4s ease;
}

.about__link:hover {
    background-color: rgba(77, 196, 144, 0.8);
}

.about__link:active {
    opacity: 0.6;
}

/* FORM */
.form {
    width: 50%;
    background-color: #fff;
    padding: 60px;
    padding-bottom: 40px;
    border-radius: 20px;
}

.form__heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
    margin: 0;
    margin-bottom: 80px;
}

.form__name {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.form__input {
    display: block;
    border: 0;
    padding-top: 35px;
    padding-bottom: 14px;
    border-bottom: 1px solid #000;
}

.form__input--name {
    padding-top: 0;
    padding-bottom: 11px;
}

.form__button-wrapper {
    display: block;
}

.form__button {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 8px;
    background-color: #655AF2;;
    color: #fff;
    transition: background-color 0.4s ease;
}

.form__button:hover {
    opacity: 0.8;
}

.form__button:active {
opacity: 0.6;
}

.form__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 11px;
    line-height: 15px;
    color: #555555;
}

.form__link {
    text-decoration-line: underline;
    color: #F03535;
    margin-left: 4px;
    transition: color 0.4s ease;
}

.form__link:hover {
    color: #808080;
}

@media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
       only screen and (    min--moz-device-pixel-ratio: 1.3 ),
       only screen and (      -o-min-device-pixel-ratio: 2.6/2 ), /* returns 1.3, see Dev.Opera */
       only screen and (         min-device-pixel-ratio: 1.3 ),
       only screen and ( min-resolution: 124.8dpi ),
       only screen and ( min-resolution: 1.3dppx ) {

       .about {
            background-image: url("../img/Rectangle@2x.jpg");
       }

}

@media only screen and (max-width: 1200px) {
    .sign-up {
        flex-wrap: wrap;
    }

    .sign-up__about {
        width: 100%;
        margin-bottom: 24px;
    }

    .sign-up__form {
        width: 100%;
    }

    .form__name {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .form__bottom {
        flex-wrap: wrap;
    }

    /* About */
    .about__top {
        padding: 50px 25px 0;
    }

    .about__definition {
        margin-bottom: 35px;
    }

    .about__box {
        padding-bottom: 120px;
    }

    .about__heading {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 20px;
    }

    .about__text {
        width: 210px;
        font-size: 14px;
    }

    .about__link {
        padding: 20px;
        font-size: 16px;
        line-height: 19px;
    }

    /* Form */
    .sign-up__form {
        padding: 45px 25px;
    }

    .form__heading {
        padding-right: 35px;
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 45px;
    }
}