/* FONTS */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-v8-latin-regular.woff2") format("woff2"), 
        url("../fonts/inter-v8-latin-regular.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/inter-v8-latin-500.woff2") format("woff2"), 
        url("../fonts/inter-v8-latin-500.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/inter-v8-latin-600.woff2") format("woff2"), 
        url("../fonts/inter-v8-latin-600.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-v8-latin-700.woff2") format("woff2"), 
        url("../fonts/inter-v8-latin-700.woff") format("woff");
    font-display: swap;
  }

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 4px dashed #ff7500;
    outline-offset: 2px;
}

.bg-img-link:focus {
    outline: 4px dashed #555;
}

input:focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #E7E7E7;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #555;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
} 

.sign-up-box {
    display: flex;
    align-items: stretch;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* BG-IMG */
.bg-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 640px;
    border-radius: 20px;
    background-image: url("../img/Rectangle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 12px;
}

.bg-img-top {
    flex-grow: 1;
    padding: 60px;
    padding-bottom: 0;
}

.definition {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 15px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-bottom: 60px;
}
.bg-img-box {
    width: 389px;
    color: #fff;
    padding-bottom: 203px;
}
.bg-img-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 25px;
}
.bg-img-text {
    width: 347px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0;
}

.bg-img-link {
    display: block;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background-color: #4DC490;
    padding: 28px ;
    border-radius: 0 0 20px 20px;
    transition: background-color 0.4s ease;
}

.bg-img-link:hover {
    background-color: rgba(77, 196, 144, 0.8);
}

.bg-img-link:active {
    opacity: 0.6;
}

/* FORM */
.form {
    width: 640px;
    background-color: #fff;
    padding: 60px;
    padding-bottom: 40px;
    border-radius: 20px;
}

.form-heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
    margin: 0;
    margin-bottom: 80px;
}
.name {
    display: flex;
    flex-direction: column;
    width: 450px;
}
.input {
    display: block;
    border: 0;
    padding-top: 35px;
    padding-bottom: 14px;
    border-bottom: 1px solid #000;
}

.name-input {
    padding: 0;
    padding-bottom: 11px;
}

.button {
    display: block;
}

.form-button {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 8px;
    background-color: #655AF2;
    color: #fff;
    transition: background-color 0.4s ease;
}

.form-button:hover {
    background-color: #444;
}

.form-button {
opacity: 0.6;
}

.form-bottom {
    display: flex;
    justify-content: center;
    font-size: 11px;
    line-height: 15px;
    color: #555555;
}

.form-link {
    text-decoration-line: underline;
    color: #F03535;
    margin-left: 4px;
    transition: color 0.4s ease;
}

.form-link:hover {
    color: #808080;
}

@media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
       only screen and (    min--moz-device-pixel-ratio: 1.3 ),
       only screen and (      -o-min-device-pixel-ratio: 2.6/2 ), /* returns 1.3, see Dev.Opera */
       only screen and (         min-device-pixel-ratio: 1.3 ),
       only screen and ( min-resolution: 124.8dpi ),
       only screen and ( min-resolution: 1.3dppx ) {

       .bg-img {
            background-image: url("../img/Rectangle@2x.jpg");
       }

}